body {
  background: #f4f4f4; /* Neutral background */
  color: #333333; /* Text color */
}

.header {
  background: linear-gradient(135deg, #008037, #ffde59);
  color: white; /* White text for contrast on the gradient */
}

.button {
  background: #ffde59; /* Yellow for buttons */
  color: #333333; /* Dark text for readability */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background: #006a2d; /* Dark green for hover effect */
  color: white;
}

.footer {
  background: #006a2d; /* Dark green for footer */
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-to-r {
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

body,
html {
  margin: 0;
}
.scroller {
  height: 100vh;
}

.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #020618;
}

.blue {
  height: 100vh;
  background-color: #00026d;
}

.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
}

.panel-text.blue-text {
  color: blue;
}

.panel-text.red-text {
  color: red;
}

.panel-text.purple-text {
  color: purple;
}

.panel-text.orange-text {
  color: orange;
}

.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel._2 {
  z-index: 1;
  background-image: url("../images/5f5a5b3515c4dd0c2c455925_110642301_938622823267359_7859124022958180678_n201.jpg");
}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: red;
  background-image: none;
}

.panel.orange {
  z-index: auto;
  background-color: #cf5d00;
  background-image: none;
}

.panel.purple {
  z-index: auto;
  background-color: #808;
  background-image: none;
}

/* Act as a border */
.card-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  background: linear-gradient(to bottom, #1f2937, #1a202c);
}

/* Gradient */
.card-wrapper::before {
  background: conic-gradient(
    rgba(215, 236, 101, 0.4) 0deg,
    rgba(187, 213, 143, 0.4) 0deg,
    transparent 120deg
  );
  position: absolute;
  left: -50%;
  top: -50%;
  height: 200%;
  width: 200%;
  animation: border-spin 7s linear infinite;
  content: "";
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

/* Body */
.card-content {
  position: absolute;
  left: 1.5px;
  top: 1.5px;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  border-radius: 2rem;
}

.box {
  width: fit-content;
  height: fit-content;
  position: relative;
  transform: translate(0);
  transform-style: preserve-3d;
}
.box sh {
  position: absolute;
  inset: -152px;
  border: 150px solid #0000;
 
  transform: translateZ(-1px);
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.box sh:before {
  content: "";
  position: absolute;
  inset: 0px;
  background: conic-gradient(
    from 70deg at 40% -25%,
    #edeb57,
    #edeb57,
    #edeb57,
    #163f01,
    #163f01,
    #163f01,
    #163f01,
    #163f01,
    #163f01,
    #edeb57,
    #edeb57,
    #edeb57
  );
  filter: blur(20px);
}

.ellipse-animate {
  transform: translateY(100%); /* Start smaller and from the bottom */
  animation: expandAndMove 1.5s forwards; /* Animation to run */
}

@keyframes expandAndMove {
  to {
    transform: translateY(0); /* End scale and position */
  }
}



.briefText {
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  color: #b6b6b6; 
   
}


.animatedText {
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  color: rgb(182, 182, 182, 0.2);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;  
}
.line{
  width: 70%;
  height: 70px;
  position: relative;
  overflow: hidden;
  span{
    position: absolute;
    font-size: 3rem;
    line-height: 4.2rem;
  }
}